body {
  background-color: #FFFCEF;
  margin: 0 0 0 0;
}

.home-page-link {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("assets/back_button.png");
  transition: transform 0.3s;
}

.home-page-link:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.header-text {
  z-index: 1;
  text-align: center;
  top: 20px;
  z-index: 1;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  color: rgb(35, 35, 35);
  opacity: 1;
  animation: fadeIn 0.8s ease-in-out;
}

/* .header {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 200px;
  background-color: white;
} */

.content {
  position: absolute;
  top: 100px;
  width: 100vw;
}

.bio {
  position: absolute;
  left: 5vw;
  width: 35vw;
  z-index: 1;
  text-align: left;
  top: 20px;
  z-index: 1;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  color: rgb(35, 35, 35);
  opacity: 1;
  animation: fadeIn 0.8s ease-in-out;
}

.picture {
  position: absolute;
  right: 10vw;
  top: 100px;
  width: 526px;
  height: 321px;
  /* background-image: url("assets/basel.png"); */
  background-size: 100% 100%;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}