body {
    background-color: #FFFCEF;
    margin: 0 0 0 0;
}

.header {
    position: absolute;
    top: 0px;
    width: 100vh;
    height: 100px;
}

.home-page-link {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("assets/back_button.png");
    transition: transform 0.3s;
}

.home-page-link:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.intro {
    position: relative;
    margin-top: 0px;
    top: 100px;
    width: 50vw;
    text-align: left;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: rgb(35, 35, 35);
}